<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add type="vuuvv.core.route.Rewrite" name ="Dispatch"/>
    </httpModules>
  </system.web>
  <system.data>
    <DbProviderFactories>
       <remove invariant="System.Data.SQLite" />
       <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.84.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <Route Ext=".aspx">
    <Rules>
      <add Pattern="^/$" Handler="vuuvv.web.controllers.IndexController.Home" Name="index"/>
      <add Pattern="^/test$" Handler="vuuvv.web.controllers.IndexController.Test" Name="test"/>
    </Rules>
  </Route>
</configuration>
